<h1>Node view</h1>

<form action="/node-mongodb-mongoose-user" method="post">
    <input type="text" name="emailBody">
    <button type="submit">Enviar</button>
</form>

<h1>Dados recuperados</h1>
{{ login }}
{{ password }}
{{ email }}
{{ messages }}
