<div class="container">
  <div class="row justify-content-center align-self-center">
    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
      <div class="div-to-align">
        <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
              <img src="https://cdn.dribbble.com/users/2095589/screenshots/4166422/user_1.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form action="/dashboard" method="GET">
              <input type="text" class="fadeIn second" name="login" placeholder="login">
              <input type="text" class="fadeIn third" name="senha" placeholder="Senha">
              <input type="submit" class="fadeIn fourth" value="Entrar">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a class="underlineHover" href="#">Login sem uma conta</a><br>
              <a class="underlineHover" href="">Criar conta</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>